@import "reset";

:root {
    --container-padding: 20px;
    --container-width: calc(100% - var(--container-padding) * 2);

    @media only screen and (min-width: 1040px) {
        --container-width: 1000px;
    }
    @media only screen and (min-width: 1280px) {
        --container-width: 1200px;
    }
    @media only screen and (min-width: 1360px) {
        --container-width: 1200px;
    }
    @media only screen and(max-width: $mobile-breakpoint) {
        --container-padding: 16px;
    }

    --color: #424242;
    --green: #009688;
    --red: #f25353;
    --primary-color: #{$primary-color};
}

* > * {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: $primary-color;
}

strong {
    font-weight: bold;
}

body {
    font-family: $font-family;
    font-size: 16px;
    line-height: 1.6;
    min-height: 100vh;
    height: 100%;
    background-color: $body-bg;
}

.container {
    box-sizing: border-box;
    width: 100%;
    padding-left: calc(50% - var(--container-width) / 2);
    padding-right: calc(50% - var(--container-width) / 2);
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid transparent;
    transition: .2s linear;
    transition-property: color, background, border;
    font-weight: bold;
    cursor: pointer;



    &.btn-primary {
        color: white !important;
        background-color: $primary-color;
        border-color: $primary-color;

        &:hover {
            background-color: lighten($primary-color, 8%);
        }
    }


    &.btn-outline-primary {
        border-color: $primary-color;
        background-color: transparent;
        color: $primary-color !important;

        &:hover {
            background-color: $primary-color;
            color: white !important;
        }
    }

    &.btn-arrow {
        display: flex;
        align-items: center;

        svg {
            vertical-align: middle;
            opacity: 0;
            transition: opacity .5s, margin .5s, transform .5s;
            margin-left: -5px;
            display: inline-block;
        }

        &:hover:not(:disabled) {
            svg {
                margin-left: 5px;
                opacity: 1;
                transform: translateX(5px);
            }
        }
    }

    &[disabled] {
        &, &:hover {
            color: gray !important;
            border-color: gray !important;
            background-color: transparent !important;
        }
    }

    @media only screen and (max-width: $mobile-breakpoint) {
        &.mobile-full {
            text-align: center;
            width: 100%;
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .hide-on-mobile {
        display: none;
    }
    .mobile-full {
        width: 100%;
    }
}

@media only screen and(min-width: $mobile-breakpoint + 1) {
    .hide-on-desktop {
        display: none;
    }
}

.fade {
    opacity: 0;
    transform: translateY(30px);

    &.in {
        opacity: 1;
        transform: translateY(0);
        transition: .5s cubic-bezier(.5, 0, 0, 1);
        transition-property: opacity, transform;
    }
}

.flex {
    display: flex;

    &.align-center {
        align-items: center;
    }

    &.space-between {
        justify-content: space-between;
    }

    &.flex-end {
        justify-content: flex-end;
    }

    &.justify-center {
        justify-content: center;
    }

    @media screen and (max-width: $mobile-breakpoint) {
        &.mobile-flex-start {
            justify-content: flex-start;
        }
    }
}

.grid {
    display: grid;

    &.grid-cols-2 {
        grid-template-columns: 1fr 1fr;
    }

    &.grid-col-gap-1 {
        grid-column-gap: 16px;
    }

    @media only screen and (max-width: $mobile-breakpoint) {
        &.mobile-grid-1 {
            grid-template-columns: 1fr;
        }
    }
}

.alert {
    padding: 8px 16px;
    margin-bottom: 8px;
    font-weight: bold;
    border-radius: 4px;

    &.center {
        text-align: center;
    }

    &.alert-success {
        background-color: var(--green);
        color: white;
    }

    &.alert-error {
        background-color: var(--red);
        color: white;
    }

    &.alert-info {
        background-color: var(--primary-color);
        color: white;
    }
}

.error {
    color: var(--red);
}
