@import "reset";

:root {
    --container-padding: 20px;
    --container-width: calc(100% - var(--container-padding) * 2);

    @media only screen and (min-width: 1040px) {
        --container-width: 1000px;
    }
    @media only screen and (min-width: 1280px) {
        --container-width: 1200px;
    }
    @media only screen and (min-width: 1360px) {
        --container-width: 1200px;
    }
    @media only screen and(max-width: $mobile-breakpoint) {
        --container-padding: 16px;
    }
}

* > * {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: $primary-color;
}

body {
    font-family: $font-family;
    font-size: 16px;
    line-height: 1.6;
    min-height: 100vh;
    height: 100%;
    background-color: $body-bg;
}

.container {
    box-sizing: border-box;
    width: 100%;
    padding-left: calc(50% - var(--container-width) / 2);
    padding-right: calc(50% - var(--container-width) / 2);
}

.btn {
    padding: 10px 20px;
    border: 2px solid transparent;
    transition:  .2s linear;
    transition-property: color, background, border;
    font-weight: bold;

    &.btn-primary {
        color: white !important;
        background-color: $primary-color;
        border-color: $primary-color;

        &:hover {
            background-color: lighten($primary-color, 8%);
        }
    }


    &.btn-outline-primary {
        border-color: $primary-color;
        background-color: transparent;
        color: $primary-color !important;

        &:hover {
            background-color: $primary-color;
            color: white !important;
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .hide-on-mobile {
        display: none;
    }
}

@media only screen and(min-width: $mobile-breakpoint + 1) {
    .hide-on-desktop {
        display: none;
    }
}
