.contact-page {
    .page-header {
        background-color: white;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);;
    }
}

.contact-container {
    margin: 50px 0;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 30px;

    @media only screen and (max-width: $mobile-breakpoint) {
        grid-template-columns: 1fr;
        .contact-form-wrapper {
            padding-right: 0 !important;
        }
    }

    .contact-form-wrapper {
        padding-right: 20px;
    }

    .contact-header-label {
        text-transform: uppercase;
        font-size: 14px;
        color: $primary-color;
        font-weight: bold;
    }

    .contact-header-title {
        font-weight: bold;
        font-size: 30px;
        font-family: $font-family-heading;
        margin-bottom: 20px;

        @media only screen and (max-width: $mobile-breakpoint) {
            font-size: 22px;
            margin-bottom: 10px;
        }
    }

    .contact-header-desc {
        margin-bottom: 20px;
    }

}

.form-group {
    margin-bottom: 16px;
    width: 100%;

    label, &.input-label {
        display: block;
        margin-bottom: 4px;
        font-weight: bold;
    }

    .form-input {
        padding: 16px;
        width: 100%;
        min-width: 200px;
        border-radius: 4px;
        border: 1px solid #cccccc;
        background-color: white !important;
        font-size: 16px;
        font-family: $font-family;
    }
}

.faq-container {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 50px;
    background-color: #fff3e0;

    .faq-header {
        margin-right: 20px;
        min-width: 270px;
    }

    .faq-label {
        color: $primary-color;
        text-transform: uppercase;
        font-weight: bold;
    }

    .faq-title {
        font-weight: bold;
        font-family: $font-family-heading;
        font-size: 30px;
    }

    .faq-question {
        margin-bottom: 40px;
    }

    .faq-question-title {
        font-size: 24px;
        //font-family: $font-family-heading;
        font-weight: bold;
        margin-bottom: 8px;
    }

    .faq-question-desc {
        font-size: 16px;
    }

    @media only screen and (max-width: $mobile-breakpoint) {
        margin-top: 0;
        display: block;
        .faq-header {
            width: 100%;
            min-width: unset;
            margin-bottom: 16px;
        }
        .faq-question-title {
            font-size: 20px;
        }
        //.faq-title {
        //    font-size: 25px;
        //}
    }
}
