$font-family: 'Roboto', sans-serif;
$font-family-heading: 'Rubik', sans-serif;
$mobile-breakpoint: 768px;
$body-bg: #fafafa;
$primary-color: #4a64ef;
$light-yellow: #FBE9E7;
$light-red: #FCE4EC;
$light-green: #E0F2F1;
