@import "variables";
@import "common";
@import "portfolio_navbar";
@import "portfolio_footer";

.page-header {
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.no-mb {
    margin-bottom: 0 !important;
}

.project-header {
    margin: 50px 0;
}

.project-title {
    font-family: $font-family-heading;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 16px;
}

.project-sub-title {
    font-family: $font-family-heading;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 16px;
}

.project-desc {
    font-size: 16px;
}

.project-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    margin-bottom: 30px;

    p {
        font-size: 16px;
        margin-bottom: 16px;
    }
}

.project-image {
    border-radius: 5px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media only screen and (max-width: $mobile-breakpoint) {
    .mobile-mb-20 {
        margin-bottom: 20px !important;
    }
    .project-title {
        font-size: 28px;
        line-height: 1.3;
    }
    .project-columns {
        grid-template-columns: 1fr;

        &.mobile-reverse-columns {
            :nth-child(1) {
                grid-row: 2;
            }

            :nth-child(2) {
                grid-row: 1;
            }
        }
    }
    .visit-website-btn {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
}

.project-roles {
    display: flex;
    margin-bottom: 50px;

    .project-role {
        flex-basis: 100%;
    }

    .project-role-title {
        font-family: $font-family-heading;
        font-size: 20px;
        //color: $primary-color;
        margin-bottom: 16px;
    }

    .project-role-list {
        li {
            margin: 8px 0;
            font-size: 16px;

            &:before {
                content: "- ";
            }
        }
    }

    @media only screen and (max-width: $mobile-breakpoint) {
        display: block;
        .project-role {
            margin-bottom: 50px;
        }
    }
}

.project-navigations {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 35px;

    .project-navigation {
        &:nth-child(2) {
            text-align: right;
        }

        .label {
            font-size: 14px;
        }

        .title {
            font-weight: bold;
            font-family: $font-family-heading;
            color: black;
            transition: color .3s;
            font-size: 20px;

            &:hover {
                color: $primary-color;
            }
        }
    }
}
