$primary-color: #4A64EF;
$coral: coral;

:root {
    --primary-color: #4A64EF;
    --hubble-primary-color: #4A64EF;
    --gap: 20px;
    --space: 8px;
    --border: #d5e3ec;
    --shadow: rgba(0, 0, 0, 0.16);
    --header-height: 80px;
    --color: #424242;
    --green: #41cf7c;
    --red: #f25353;
    --hubble-font-family: "Roboto";
}
